*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
.h1{
    font-size: 2.986rem;
    margin-bottom: 1.5rem;
    font-family: "Lora", serif;
}

h2,
.h2{
    font-size: 2.488rem;
}
h3,
.h3{
    font-size: 2.074rem;
}
h4,
.h4{
    font-size: 1.728rem;
}
h5,
.h5{
    font-size: 1.44rem;
}
h6,
.h6{
    font-size: 1.2rem;
}
p{
    color: rgb(107, 106, 106);
    line-height: 164%;
    font-family: "Poppins", sans-serif;
}
.price {
    display: inline-block;
    color: gray;
    margin-bottom: 1rem;
    font-family: "Lora", serif;
}
header{
    border-bottom: 1px solid rgb(198, 198, 198);
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: 5rem;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}
#logo{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    font-family: "Lora", serif;
    
}
section{
    padding: 4rem 0;
}
nav a{
    text-decoration: none;
    color: rgb(91, 91, 91);
    font-family: "Poppins", sans-serif;
    
}
#iconlist{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
#iconlist a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: black;
}
#section1 .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
}  
#images img{
    width: 100%;
    height: 100%;
} 
#images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;

}
#image1{
    grid-row-start: 1;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#image2{
    grid-row-start: 2;
    grid-row-end: span 1;
    grid-column-start:1 ;
    grid-column-end: span 1;
    
}
#image3{
    grid-row-start: 3;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#mainimage{
    grid-row-start: 4;
    grid-row-end: span 1;
    grid-column-start: 1;
    grid-column-end: span 1;
}
#mainimg2{
    grid-row-start: 1;
    grid-row-end: span 4;
    grid-column-start: 2;
    grid-column-end: span 3;
}
#variants{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}
#variant img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}
.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    text-decoration: none;
    border: none;
}
.add {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}
.buy {
    width: 100%;
    background-color: white;
    border: 1px solid black;
    font-family: "Poppins", sans-serif;
}
.buttonHolder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    margin-top: 3rem;
}
.productoder{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: .5rem;
    margin-top: 1.5rem;
}
.product{
    border-radius: 0.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product img{
    width: 100%;
}
#button2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.productDetails{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1rem;
}


